.responsive(@maxWidth; @rules) {
    @media only screen and (max-width: @maxWidth) {
        @rules();
    }
}

body {
    // Giant moving Trans Pride background was really CPU intensive, so while fun when I was initially building the app, it had to go
    // I've replaced it with this static one instead that has significantly less performance impact
    background-image: linear-gradient(to left,#55c8d8, #f7c8d8, #f7c8d8, #ffffff, #ffffff, #f7c8d8, #f7c8d8, #55c8d8);
    // background-image: repeating-linear-gradient(to left,#55c8d8, #f7c8d8, #f7c8d8, #ffffff, #ffffff, #f7c8d8, #f7c8d8, #55c8d8);
    // background-size: 300%;
    // min-height: 100vh;

    // animation-name: shift;
    // animation-duration: 30s;
    // animation-iteration-count: infinite;
}

// @keyframes shift {
//     0% {background-position: 0%;}
//     100% {background-position: 300%;}
// }

.hover {
    border-radius: 4px;
    transition: all 500ms ease; 
}

.hover:hover {
    background: #bbbbbbcc;
}

.navbar, .card {
    margin-bottom: 1rem;
}

#advanced-form {
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden; 
}

#advanced-form.show {
    height: auto;
    opacity: 1;
    visibility: visible; 
}

.search-select, .count-sum {
    font-size: 0.85rem;
}

.half-rem-right, .property-value  {
    margin: auto 0.5rem auto auto;
}

.icon-sockets-div:hover > .sockets {
    visibility: hidden;
}

.socket-0 {
    left: -5px;
    top: -5px;
}

.link-1 {
    left: 28px;
    top: 11px;
}

.socket-1 {
    left: 51px;
    top: -5px;
}

.link-2 {
    left: 67px;
    top: 28px;
}

.socket-2 {
    left: 51px;
    top: 51px;
}

.link-3 {
    left: 28px;
    top: 67px;
}

.socket-3 {
    left: -5px;
    top: 51px;
}

.link-4 {
    left: 11px;
    top: 84px;
}

.socket-4 {
    left: -5px;
    top: 107px;
}

.link-5 {
    left: 28px;
    top: 124px;
}

.socket-5 {
    left: 51px;
    top: 107px;
}

.v-socket-0 {
    left: -3px;
    top: -5px;
}

.v-link-1 {
    left: 13px;
    top: 28px;
}

.v-socket-1 {
    left: -3px;
    top: 51px;
}

.v-link-2 {
    left: 13px;
    top: 84px;
}

.v-socket-2 {
    left: -3px;
    top: 107px;
}

.v-link-3 {
    left: 13px;
    top: 140px;
}

.v-socket-3 {
    left: -3px;
    top: 163px;
}

.count-sum, .mod-value {
    max-width: 3.8rem;
}

.hide-xs {
    .responsive(575px, {
        display: none;
    });
}

.sort-highlight {
    color: #f73979;
}